In [26]:
'Hola {}'.format('balbalalalabalbal')

'Hola balbalalalabalbal'

In [27]:
dir_pandas='db/{}'
dir_pandas

'db/{}'

In [28]:
import pandas as pd
import numpy as np

In [29]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data

{'edad': [10, 9, 13, 14, 12, 11, 12],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0]}

In [30]:
df=pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [31]:
df.to_csv('db/text.csv',index=False)

In [32]:
df_read=pd.read_csv('db/text.csv')
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [33]:
df.to_csv(dir_pandas, sep='|', index=False)

In [34]:
df_read=pd.read_csv('db/text.csv', sep='|')
df_read

  edad,cm,pais,genero,Q1,Q2
0       10,115,co,M,5.0,7.0
1       9,110,mx,F,10.0,9.0
2       13,130,co,F,8.0,9.0
3          14,155,mx,M,,8.0
4       12,125,mx,M,7.0,8.0
5       11,120,ch,M,8.0,8.0
6       12,125,ch,F,3.0,9.0

In [35]:
df.to_excel('db/text.xlsx',index=False, sheet_name='hoja_uno')

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
pd.read_excel('db/text.xlsx')

In [ ]:
df.to_json('db/text.json')

In [ ]:
df.to_pickle('db/test.pkl')

In [ ]:
pd.read_pickle('db/test.pkl')

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
df.to_parquet('db/test.parquet')

In [ ]:
df.to_hdf('db/test.hdf', key='data',format='table')

In [ ]:
pd.read_parquet

In [ ]:
pd.read_hdf

pandas.pydata.org