In [2]:
import pandas as pd
import psycopg2

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
conn_sql = psycopg2.connect(user = "user_name",
                            password = "password",
                            host = "xxx.xxx.xxx.xxx",
                            port = "5432",
                            database = "postgres_db_name")

In [3]:
query_sql = '''
select *
from table_name
limit 10
'''

In [ ]:
df = pd.read_sql(query_sql, sql_conn)
df.head(5)

SQL SERVER

In [ ]:
import pandas as pd
import pyodbc

In [ ]:
driver = '{SQL Server}'
server_name = 'server_name'
db_name = 'database_name'
user = 'user'
password = 'password'
sql_conn = pyodbc.connect('''
DRIVER={};SERVER={};DATABASE={};UID={};PWD={};
Trusted_Connection=yes
'''.format(driver, server_name, db_name, user, password))

In [ ]:
dsn = 'odbc_datasource_name'
sql_conn = pyodbc.connect('''
DSN={};UID={};PWD={};Trusted_Connection=yes;
'''.format(dsn, user, password))
Seguido simplemente definimos nuestra query en SQL:	
query_sql = 'select * from table_name limit 10'

In [ ]:
df = pd.read_sql(query_sql, sql_conn)
df.head(5)

Mysql/Oracle/otras

In [ ]:
import pandas as pd
import sqlalchemy as sql
Escogemos nuestra base de datos, Oracle, MySql o la de tu preferencia:
database_type = 'mysql'
database_type = 'oracle'

In [ ]:
user = 'user_name'
password = 'password'
host = 'xxx.xxx.xxx.xxx:port'
database = 'database_name'

conn_string = '{}://{}:{}@{}/{}'.format(
database_type, user, password, host, database)

sql_conn = sql.create_engine(conn_string)

In [ ]:
query_sql = '''
select *
from table_name
limit 10
'''

In [ ]:
df = pd.read_sql(query_sql, sql_conn)
df.head(5)